.footer-wrapper{
    padding: 20px 100px;
    display: flex;
    justify-content:space-around;
    justify-self: start;
    background-color: var(--color-background-content);

    .footer-logo{
        margin-right: 20px;
    }

    p{
        margin-bottom: 6px;
        font-weight: 700;
    }

    ul{ 
        width: 200px;
        padding: 0;
        margin-bottom: 3px;
        a{
            text-decoration: none;
        }
        li{
            cursor: pointer;
            list-style: none;
            line-height: 1.8rem;
            color: rgba($color: #dadada, $alpha: 0.6);
            
            &:hover{
                color: var(--color-text-special);
            }
        }
    }
    
}