.list-wrapper{
    .list-navigate{
        display: flex;
        
        h2{
            color: var(--color-text-special);
            margin-right: auto;
        }
        
    }
    

    .list-content{
        background-color: var(--color-background-content);
        padding: 10px 5px;
        border-radius: 10px;
    }
    
    .list-item{
        display: inline-block;
        width: 260px;
        height: 135px;
        margin: 5px calc((100% - (260px * 5)) / 10);
    }
    
    .list-pagination{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        button{
            color: var(--color-text);
            border: 1px solid var(--color-text) !important;
        }
        .css-16y9h98{
            color: var(--color-text) !important;
        }
    }   

    .list-search{
        
        select{
            cursor: pointer;
            background-color: var(--color-background-content);
            color: var(--color-text);
            height: 34px;
            border-radius: 5px;
            padding: 3px;
            margin-left: 10px;
            font-weight: 600;
            
            &:focus{
                border-color: #66afe9;
                box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
                outline: 0;
            }
            
        }
        
        span{
            margin-left: 10px;
            color: var(--color-background-content);
            background-color: var(--color-text-special);
            font-weight: 700;
            padding: 3px;
            cursor: pointer;
            display: inline-block;
            &:hover{
                color: white;
            }
        }
    }
}
