.movie-wrapper{
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    color: var(--color-text);
    
    &:hover{
        img{
            transform: scale(1.2);
        }

        .movie-icon{
            visibility: visible;

            .movie-play-icon{
                transform: scale(0.7);
                opacity: 0.85;
                transition: all 0.25s ease-in;
            }
        }
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.25s ease-in;
    }

    span{
        position: absolute;
        background-image: linear-gradient(to right,#C02425 0%,#F0CB35 100%);
        padding: 4px;
        border-radius: 3px;
        z-index: 1;
        p{  
            margin: 0;
            font-size: 0.8rem;
        }

        :last-child{
            position: absolute;
            left: 50%;
            top: 8px;
            transform: translateX(-25%);
            font-size: 2.5rem;
            color: #d8772d;
        }
    }

    .movie-icon{
        position: absolute;
        visibility: hidden;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
        
        
        .movie-play-icon{
            opacity: 0;
            transition: all 0.25s ease-out;
            font-size: 5rem;
            border-radius: 50%;
            background-color: #d8772d;
            }
        }
    h5{ 
        color: var(--color-text);
        font-size: 1.2rem;
        margin: 0;
        position: absolute;
        width: 100%;
        text-align: center;
        line-height: 2rem;
        background-color: rgba($color: #1b1b1b, $alpha: 0.7);
        bottom: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.5% 0;
    }
}