.navigation-wrapper{
    display: flex;
    align-items: center;
    padding: 10px 90px;
    background-color: var(--color-background-content);
    a{
        text-decoration: none;
    }
    .navigation-items{
        display: flex;
        align-items: baseline;
        margin-right: auto;
        
        .navigation-item{
            margin-left: 20px;
            position: relative;
            
            
            h5{ 
                font-size: 0.9rem;
                cursor: pointer;
                color: var(--color-text);
                &.last-item{
                    font-size: 1.5rem;
                    color: var(--color-text-special);
                    
                }
            }
            &:hover{
                color: var(--color-text-special);
                ul{
                    display: block;
                    
                }
            }

            ul{
                display: none;
                margin-top: 0;
                padding: 0 0 10px 0;
                list-style: none;
                position: absolute;
                width: 300px;
                left: -10px;
                z-index: 10;
                background-color: var(--color-background-content);

                li{ 
                    cursor: pointer;
                    padding-left: 10px ;
                    display: inline-block;
                    width: 50%;
                    margin-top: 10px;
                    color: var(--color-text);

                    &:hover{
                        color: var(--color-text-special);
                    }
                }

            }

    }

    }

    .navigation-options{
        display: flex;

        input{
            outline: none;
            background-color: var(--color-background-content);
            color: var(--color-text);
            border: none;
            padding: 0 6px;  
        }

        .navigation-search{
            border: 2px solid var(--color-text);
            display: flex;
            align-self: center;
            :last-child{
            padding: 0;
            font-size: 1.9rem;
            }
        }

        ::placeholder{
            color: var(--color-text);
        }

        .navigation-login{
            margin-left: 10px;
            cursor: pointer;
            p{
                margin: 0;
                border: 2px solid var(--color-text);
                color: white;
                padding: 3px 4px;  
                
                &:hover{
                    background-color: var(--color-box-active);
                }
            }
        }
    }

    .navigation-login-wrapper{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 15;
        overflow-y: hidden;
        background-color: rgba($color: #1b1b1b, $alpha: 0.6);

        .navigation-login-background{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;

            .navigation-login-close-icon{
                display: inline-block;
                float: right;
                font-size: 6rem;
                cursor: pointer;
                color: rgba($color: #dadada, $alpha: 0.8);
            }
        }

        .navigation-login-form{
            width: 400px;
            margin: 0 auto;
            margin-top: 160px;
            padding: 20px 30px;
            background-color: var(--color-background-content);
            border-radius: 5px;

            form{
                font-size: 1.2rem;
                label{
                    font-weight: 600;
                    color: var(--color-text-special);
                }

                input, button{
                    width: 100%;
                    outline: none;
                    padding: 0 10px;
                    margin-bottom: 6px;
                    border-radius: 5px;
                }

                input[type=submit], button{
                    margin-top:9px;
                    background-color: var(--color-text-special);
                    padding: 5px;
                    font-weight: 600;

                    &:hover{
                        color: white;
                    }
                }

                span{
                    margin-top:9px;
                    background-color: var(--color-text-special);
                    padding: 5px;
                    font-weight: 600;
                    width: 100%;
                    &:hover{
                        color: white;
                    }
                }
            }
            

            
        }
    }
}
