.player-wrapper{
    p{
        margin: 0;
    }

    h2{
        color: var(--color-text-special);
    }

    h6{
        color: var(--color-text);
    }
    .player-interact{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        .player-switch-server{
            display: flex;
            justify-content: space-between;
            width: 390px;
            font-weight: 700;
            padding: 3px;
            border: 1px solid var(--color-text);
            border-radius: 5px;

            .player-server{
                cursor: pointer;
                border-radius: 5px;
                padding: 5px 9px;
                background-color: var(--color-background-content);
            }

            .player-server-title{
                border-radius: 5px;
                padding: 5px 9px;
                background-color: var(--color-text-special);
                color: var(--color-background-content);
            }
        }
        
    }
    .player-fame{
        color: var(--color-text);
        display: flex;
        
        .player-fame-btn{
            cursor: pointer;
            display: flex;
            align-items: center;
            background-color: var(--color-background-content);
            padding: 0 5px;
            margin-left: 10px;
            border-radius: 5px;
            p{  
                margin-right: 5px;
            }
        }
        
    }
    .player-server.player-server-active{
        background-color: #f2a900 !important;
        color: rgba($color: #1b1b1b, $alpha: 0.7);
    }

    .player-info{
        background-color: var(--color-background-content);
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        ul{ 
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            padding: 0;

            li{
                width: calc(100% / 3);
                color: var(--color-text);
                padding-right: 20px; 

                span{
                    font-weight: 300;
                }
            }
        }
        
    }

    .player-content{
        span{
            color: var(--color-text);
        }
    }

    .player-comment:last-child{
        background-color: white;
        padding: 10px;
        border-radius: 5px;
    }

    .player-espisodes{
        margin-top: 20px;
        border-radius: 5px;
        padding: 10px;
        background-color: var(--color-background-content);

        span{
            font-weight: 700;
            display: inline-block;
        }
        ul{ 
            color: var(--color-text);
            display: inline;
            padding: 0;

            li{ 
                cursor: pointer;
                border: 1px solid var(--color-text);
                margin-left: 10px;
                padding: 3px;
                display: inline-block;
                list-style: none;

                &:hover{
                    background-color: var(--color-background);
                }
            }

            .player-espisode-active{
                background-color: var(--color-text-special);
            }
        }
    }
}