.chat-wrapper{
    position: fixed;
    right: 20px;
    bottom: 10px;
    z-index: 12;
    .chat-icon-open{
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 3rem;
        background-color: var(--color-text-special);
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
    }

    .chat-window{
        width: 250px;
        height: 400px;
        display: flex;
        flex-direction: column;
        padding: 3px;
        background-color: var(--color-text-special);
        border-radius: 5px;

        .chat-window-close{
            position: absolute;
            right: 10px;
            font-size: 2rem;
            cursor: pointer;
            color: var(--color-text-special);
        }

        h4{ 
            color: var(--color-text);
            height: 68px;
            margin: 0;
            padding: 20px 0;
            text-align: center;
            background-color: var(--color-background-content);
        }

        .chat-content{

            background-color: var(--color-text );
            color: var(--color-background);
            
        
            ul{   
                display: flex;
                flex-direction: column-reverse;
                height: calc(400px - 146px);
                width: 100%;
                padding: 0 0 0 6px;
                margin-bottom: 6px;
                overflow-y: scroll;
                li{
                    display: flex;
                    list-style: none;
                    align-items: baseline;
                    
                    span{
                        word-break: break-all;
                        width: 150px;
                        margin-left: 6px;
                    }
                }
            }
        }

        .chat-form{
            .chat-form-item{
                display: flex;
                background-color: var(--color-background-content);
                padding: 3px;
                height: 33px;
                input{
                    border: 0;
                    width: 100%;
                    outline: none;
                    background-color: var(--color-background-content);
                    color: var(--color-text);
                }
            }

            .chat-form-name {
                background-color: var(--color-background-content);
            }

            .chat-form-msg{
                background-color: var(--color-background);
                input{
                    background-color: var(--color-background);
                }
            }

            button{
                background-color: var(--color-background);
                border: none;
                color: var(--color-text);
                display: flex;
                align-items: center;
            }   

        }
    }
}
