.recommend-wrapper{
    
    h2{
        color: var(--color-text-special);
    }

    .recommend-content{
        background-color: var(--color-background-content);
        padding: 10px;
        border-radius: 10px;
        line-height: 0;
    }   
    
    .recommend-item{
        display: inline-block;
        width: 260px;
        height: 135px;
        line-height: 1;

        hr{
            margin: 5px 0 10px 0;
            height: 3px;
            background-color: white;
            border: 0;
        }
    }

}