.sector-wrapper{
    margin: 30px 0;
    .sector-nav{
        display: flex;
        align-items: center;
        h2{
            color: var(--color-text-special);
            font-weight: 500;
            margin-right: auto;
        }

        .sector-button-detail{
            text-align: center;
            background-color: var(--color-background-content);
            height: 30px;
            padding-left: 7px;
            border-radius: 5px;
            cursor: pointer;
            
            &:hover{
                
                :last-child{
                    color: var(--color-text-special);
                }
                input{
                    color: var(--color-text-special);
                }
            }
            
            input{
                align-self: center;
                color: var(--color-text);
                padding: 0;
                font-size: 0.8rem;
                border: 0;
                background-color: inherit;
                font-weight: 600;
            }

            :last-child{
                color: var(--color-text);
                font-size: 1.5rem;
            }
            
        }
    }
    
    .sector-grid{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 135px);
        grid-gap: 9px;
        grid-template-areas: 
        "a1 a1 a2 a3 a4"
        "a1 a1 a5 a6 a7"
        "a8 a9 a10 a11 a12"
        ;

        .sector-grid-1{
            grid-area: a1;
        }
    
        .sector-grid-2{
            grid-area: a2;
        }
    
        .sector-grid-3{
            grid-area: a3;
        }
    
        .sector-grid-4{
            grid-area: a4;
        }
    
        .sector-grid-5{
            grid-area: a5;
        }
    
        .sector-grid-6{
            grid-area: a6;
        }
    
        .sector-grid-7{
            grid-area: a7;
        }
    
        .sector-grid-8{
            grid-area: a8;
        }
    
        .sector-grid-9{
            grid-area: a9;
        }
    
        .sector-grid-10{
            grid-area: a10;
        }
    
        .sector-grid-11{
            grid-area: a11;
        }
    
        .sector-grid-12{
            grid-area: a12;
        }
    }
    
}