.slider-wrapper{
   
   h2{
      color: var(--color-text-special);
      font-weight: 500;
      margin-top: 30px;
   }

   .swiper-button-next {
      background-image: url("./play.svg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center;
      transform: scaleY(2.6) scaleX(1.5) translateX(10%);
      opacity: 0.7;

      &::after{
         content: "";
      }

      &:hover{
         opacity: 1;
      }
    }

    .swiper-button-prev {
      background-image: url("./play.svg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center;
      transform: scaleY(2.6) scaleX(1.5) rotate(180deg) translateX(10%);
      opacity: 0.7;

      &::after{
         content: "";
      }

      &:hover{
         opacity: 1;
      }
    }


   .mySwiper {
      
      .slider-item{
         min-width: 260px;
         height: 135px;
      }
   }
}