.watch-content{
    display: flex;
    padding: 20px 90px;
    color: var(--color-text-special);

    .watch-left{
        flex: 4;
        margin-right: 20px;
    }

    .watch-right{
        flex: 1; 
    }

}