.admin-wrapper{
    p{
        margin: 0;
    }

    .admin-header{
        padding: 0 20px;

        .ant-col{
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
        }

        .ant-row{
            height: 64px;
        }

        .ant-btn{
            width: 40px;
            padding: 0;
        }


    }

}