.card-wrapper{
    .ant-card{
        height: 180px;
        .ant-card-head-title{
            padding: 0 !important;
        }
        
        .ant-card-head-wrapper{
            height: 48px;
        }
    
        .ant-statistic{
            display: flex;
        }
    
        hr{
            margin: 3px 0;
        }
        
        .ant-statistic-title{
            font-size: 0.9rem;
            color: #000;
        }
    }

}
