body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

:root{
  --color-background: #2b2b2b;
  --color-text: #dadada;
  --color-background-content: #1b1b1b;
  --color-box-active: #FF3800;
  --color-text-special: #ff9601;
}
